@value mainColor,mainHover,Lgrey1,Lgrey2,Lgrey3,Lgrey4,Dgrey1,Dgrey2,Dgrey3,Dgrey4,lineGrey,fontGrey,fontHover,hoverGrey,vWhite,vBlack,vTrans from '/src/common/colors.css';

.helpContainer {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(36, 36, 36, 0.85);
}

.helpContents {
  position: relative;
  margin: auto;
  max-width: 1200px;
  width: 89vw;
  height: 100vh;
  /* overflow: hidden; */
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.slider {
  width: 100%;
  display: flex;
}
.sliderWrapper {
  overflow: hidden;
}
.helpContents img {
  width: 100%;
  height: auto;
}

.count {
  position: relative;
  bottom: 10%;
  left: 48%;
  font-size: 2em;
  color: white;
}
.navigator {
  display: flex;
  margin: 0 -1px;
}
.navigator button {
  background-color: Lgrey2;
  width: 25%;
  height: 0.6em;
  margin: 0 1px;
}

.btnContainer {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-bottom: 56.25%;
}
.left,
.right {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background-color: transparent;
  color: rgb(250, 250, 250);
  transition: ease-in 180ms;
}
.left:hover,
.right:hover {
  color: mainColor;
}
.left {
  left: -4%;
}
.right {
  right: -4%;
}
.close {
  background-color: transparent;
  position: absolute;
  font-size: 2em;
  top: -12%;
  right: -4%;
  color: white;
}
.close:hover {
  color: mainColor;
}
.cookieCheck {
  display: flex;
  align-items: center;
  margin: 1em auto;
  color: white;
  font-weight: bold;
}
.cookieCheck:hover {
  color: mainColor;
}
.cookieCheck input {
  margin-left: 1em;
  border-style: none;
  outline-style: none;
  width: 1.5em;
  height: 1.5em;
}
