@value mainColor,mainHover,Lgrey1,Lgrey2,Lgrey3,Lgrey4,Dgrey1,Dgrey2,Dgrey3,Dgrey4,lineGrey,fontGrey,fontHover,hoverGrey,vWhite,vBlack,vTrans from '/src/common/colors.css';

.helpContainer {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(36, 36, 36, 0.85);
}
.close {
  background-color: transparent;
  position: absolute;
  font-size: 2em;
  top: 1em;
  right: 1em;
  color: white;
}
.close:hover {
  color: mainColor;
}
.helpContents {
  margin: auto;
  max-width: 1200px;
  width: 89vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.slider {
  width: 100%;
  display: flex;
}
.helpContents img {
  width: 100%;
  height: fit-content;

  /* height: auto;
  object-fit: contain;
  object-position: center; */
  /* opacity: 0.5; */
}
.left,
.right {
  cursor: pointer;
  z-index: 100;
  position: fixed;
  top: 50%;
  font-size: 2em;
  background-color: transparent;
  color: rgb(250, 250, 250);
  transition: ease-in 180ms;
}
.left:hover,
.right:hover {
  transform: scale(1.2);
  color: tomato;
}
.left {
  left: 2%;
}
.right {
  right: 2%;
}
.count {
  position: relative;
  bottom: 10%;
  left: 48%;
  font-size: 2em;
  color: white;
}
.navigator {
  display: flex;
  margin: 0 -1px;
}
.navigator button {
  background-color: Lgrey2;
  width: 25%;
  height: 0.6em;
  margin: 0 1px;
}
.cookieCheck {
  display: flex;
  margin: 1em auto;
  color: white;
}
