.sampleTab,
.myTab {
  display: flex;
}
.tab {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home {
  max-width: 1200px;
  width: 88vw;
  min-height: 90vh;
  padding-bottom: 180px;
  margin: auto;
  margin-top: 1em;
  /* transform: translateY(-25%) scale(0.5); */
}
.plusPage,
.editPage {
  z-index: 2;
  width: 28px;
  height: 28px;
  margin-bottom: 10px;
  margin-left: 6px;
  border-radius: 14px;
}
.editPage i {
  position: relative;
  top: -1px;
  right: -1px;
}
.plusPage:hover,
.editPage:hover {
  background-color: rgb(220, 220, 220);
}
.editOn {
  background-color: tomato;
}
.editPage:hover {
  background-color: tomato;
}
