.container {
  position: relative;
  width: 4em;
  height: 4em;
  margin-bottom: -0.8em;
  overflow: hidden;
  cursor: pointer;
  transition: ease-out 250ms;
  /* background-color: cadetblue; */
}
.container:hover {
  transform: scale(1.1);
}

.sun {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 183, 0);
  /* box-shadow: 12px 12px 0px -8px rgb(255, 183, 0); */
}

.rays {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ray {
  position: absolute;
  top: 50%;
  left: 50%;
}
.ray.short::after {
  content: '';
  position: absolute;
  left: 0.9em;
  transform: translateY(-50%);
  width: 0.4em;
  height: 3px;
  border-radius: 1.5px;
  background-color: rgb(255, 183, 0);
}
.ray.long::after {
  content: '';
  position: absolute;
  left: 0.9em;
  transform: translateY(-50%);
  width: 0.7em;
  height: 3px;
  border-radius: 1.5px;
  background-color: rgb(255, 183, 0);
}
.rays.up {
  animation: rayUp 1.5s ease-in-out forwards;
}
.rays.down {
  animation: rayDown 1.5s ease-in-out forwards;
}
/* rotate */
.deg0 {
  transform: rotate(0deg);
}
.deg36 {
  transform: rotate(36deg);
}
.deg72 {
  transform: rotate(72deg);
}
.deg108 {
  transform: rotate(108deg);
}
.deg144 {
  transform: rotate(144deg);
}
.deg180 {
  transform: rotate(180deg);
}
.deg216 {
  transform: rotate(216deg);
}
.deg252 {
  transform: rotate(252deg);
}
.deg288 {
  transform: rotate(288deg);
}
.deg324 {
  transform: rotate(324deg);
}

.moonIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%) rotate(240deg); */
  transform: translate(-50%, -50%) rotate(20deg);
  color: rgb(0, 128, 128, 0.5);
  color: white;
  font-size: 2em;
  margin-top: 0.05em;
}

.moon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -53%);
  background-color: rgb(250, 250, 250);
  /* box-shadow: 12px 12px 0px -8px rgb(255, 183, 0); */
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 4em;
  height: 4em;
  transition: linear 250ms;
  /* background-color: red; */
}

.cover::after {
  content: '';
  /* width: 1.55em; */
  /* height: 1.55em; */
  border-radius: 50%;
  position: absolute;
  /* top: 0.82em; */
  /* right: 0.68em; */
  background-color: rgb(34, 40, 49);
}
.up.cover::after {
  animation: moonUp 1.5s ease-in-out forwards;
}
.down.cover::after {
  animation: moonDown 1.5s ease-in forwards;
}
.up.sun {
  animation: sunToMoon 1.5s ease-in-out forwards;
}
.down.sun {
  animation: moonToSun 1.5s ease-in-out forwards;
}
.up.moonIcon {
  animation: cssToIcon 1.5s ease-in-out forwards;
}
.down.moonIcon {
  animation: iconToCss 1.5s ease-in-out forwards;
}
@keyframes sunUp {
  0% {
  }
  70% {
    transform: translate(600%, 0%);
  }
  100% {
    transform: translate(600%, 0%);
  }
}
@keyframes moonUp {
  0% {
    top: 0;
    right: 0;
    opacity: 0;
  }
  40% {
    width: 0.55em;
    height: 0.55em;
    top: 0;
    right: 0;
    opacity: 0;
  }
  60% {
    width: 1.55em;
    height: 1.55em;
    top: 0.76em;
    right: 0.74em;
    opacity: 1;
  }
  100% {
    width: 1.55em;
    height: 1.55em;
    top: 0.76em;
    right: 0.74em;
    opacity: 0;
  }
}
@keyframes moonDown {
  0% {
    width: 1.55em;
    height: 1.55em;
    top: 0.76em;
    left: 0.74em;
    opacity: 1;
    background-color: rgb(34, 40, 49);
  }
  20% {
    width: 1.55em;
    height: 1.55em;
    top: 0.76em;
    left: 0.74em;
    opacity: 1;
    background-color: hsl(206, 30%, 75%);
  }
  40% {
    width: 1.55em;
    height: 1.55em;
    top: 0.76em;
    left: 0.74em;
    opacity: 1;
    background-color: hsl(206, 30%, 75%);
  }
  60% {
    width: 0.55em;
    height: 0.55em;
    background-color: hsl(206, 30%, 75%);
    top: 0;
    left: 0;
    opacity: 0;
  }
  100% {
    width: 0.55em;
    height: 0.55em;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
@keyframes sunToMoon {
  0% {
    width: 1em;
    height: 1em;
    opacity: 1;
  }
  40% {
    width: 2em;
    height: 2em;
    opacity: 1;
    background-color: white;
  }
  60% {
    width: 2em;
    height: 2em;
    opacity: 1;
    background-color: white;
  }
  65% {
    width: 2em;
    height: 2em;
    opacity: 0;
    background-color: white;
  }
  100% {
    width: 2em;
    height: 2em;
    opacity: 0;
    background-color: red;
  }
}

@keyframes cssToIcon {
  0% {
    transform: translate(-53%, -53%) rotate(-25deg);
    opacity: 0;
  }
  60% {
    transform: translate(-53%, -53%) rotate(-25deg);
    opacity: 0;
  }
  65% {
    transform: translate(-53%, -53%) rotate(-25deg);
    opacity: 1;
  }
  70% {
    transform: translate(-53%, -53%) rotate(-25deg);
    opacity: 1;
  }
  100% {
    transform: translate(-53%, -53%) rotate(-120deg);
    opacity: 1;
  }
}
@keyframes iconToCss {
  0% {
    transform: translate(-53%, -53%) rotate(-120deg);
    opacity: 1;
  }
  10% {
    transform: translate(-53%, -53%) rotate(-120deg);
    opacity: 0;
  }
  100% {
    transform: translate(-53%, -53%) rotate(-120deg);
    opacity: 0;
  }
}
@keyframes moonToSun {
  0% {
    width: 2em;
    height: 2em;
    opacity: 1;
    background-color: white;
  }
  20% {
    width: 2em;
    height: 2em;
    opacity: 1;
    background-color: white;
  }
  100% {
    width: 1.4em;
    height: 1.4em;
    opacity: 1;
    background-color: rgb(255, 183, 0);
  }
}

@keyframes rayUp {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rayDown {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
