.header {
  width: 100%;
  padding: 0.4em;
  /* background-color: indianred; */
  background-color: rgb(209, 200, 190);
  /* background-color: rgb(252, 245, 235); */
  /* background-color: rgb(247, 237, 223); */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px dashed grey;
}
.logo {
  margin-left: 1em;
  font-size: 1.6em;
  /* color: snow; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Pacifico', cursive;
  transition: ease-in 180ms;
}
.logo:hover {
  transform: scale(1.1);
}
.logo:hover .tube {
  color: indianred;
}
.your {
  color: rgb(252, 245, 235);
}
.tube {
  color: rgb(116, 107, 95);
}
.login {
  display: flex;
  align-items: flex-end;
  margin-right: 1em;
  margin-bottom: 0.4em;
}
.loginwith {
  /* color: white; */
  font-family: 'Pacifico', cursive;
  color: rgb(116, 107, 95);
  font-size: 1em;
  margin-right: 0.4em;
  margin-bottom: 0.1em;
}
