@value mainColor,Dgrey1,Lgrey1,vWhite from '/src/common/colors.css';

.header {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0.4em;
  /* background-color: rgb(68, 68, 68); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px dashed grey; */
  position: sticky;
  top: 0;
  z-index: 3;
  transition: ease-in 200ms;
  font-size: 0.85em;
}
.header.dark {
  /* background-color: Dgrey1; */
}
.header.light {
  /* background-color: Lgrey1; */
  /* background-color: Dgrey1; */
}
.pageDown {
  font-size: 0.7em;
  background-color: rgb(55, 55, 55, 0.7);
  /* filter: blur(3px); */
}
.logo {
  /* margin-left: 0.5em; */
  font-size: 1.8em;
  font-family: 'Pacifico', cursive;
  transition: ease-in 180ms;
}
.logo:hover {
  transform: scale(1.1);
}
.logo:hover .tube {
  /* color: rgb(29, 153, 91); */
}
.your {
  color: rgb(252, 245, 235);
}
.tube {
  font-size: 1.3em;
  color: rgb(116, 107, 95);
  color: mainColor;
}
.login {
  display: flex;
  align-items: flex-end;
  font-size: 1.2em;
  margin-right: 1em;
  margin-bottom: -0.8em;
}
.loginwith {
  /* color: white; */
  font-family: 'Pacifico', cursive;
  color: rgb(116, 107, 95);
  color: rgb(252, 245, 235);
  font-size: 1em;
  margin-right: 0.4em;
  margin-bottom: 0.1em;
}
.right {
  display: flex;
  align-items: center;
}
.logOn {
  /* margin-top: 0.4em; */
  display: flex;
  align-items: center;
}
.userIcon {
  z-index: 11;
  cursor: pointer;
  color: vWhite;
  font-size: 2em;
  margin-top: 0.5em;
  margin-right: 0.5rem;
  padding: 2px;
  transition: ease-in 180ms;
}
.userIcon:hover {
  color: mainColor;
  transform: scale(1.1);
}
