@value mainColor,Dgrey1,Lgrey1,vWhite from '/src/common/colors.css';

.header {
  width: 100vw;
  padding: 0.4em;
  /* background-color: rgb(68, 68, 68); */

  position: sticky;
  top: 0;
  z-index: 3;
  transition: ease-in 200ms;
  font-size: 0.85em;
}
.container {
  width: 88vw;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.dark {
  /* background-color: Dgrey1; */
}
.header.light {
  /* background-color: Lgrey1; */
  /* background-color: Dgrey1; */
}
.pageDown {
  font-size: 0.7em;
  background-color: rgb(250, 250, 250, 0.2);
  backdrop-filter: blur(3px);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.logo {
  /* margin-left: 0.5em; */
  font-size: 1.8em;
  font-family: 'Pacifico', cursive;
  transition: ease-in 180ms;
}
.logo:hover {
  transform: scale(1.1);
}

.your {
  color: rgb(252, 245, 235);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.tube {
  font-size: 1.3em;
  color: rgb(116, 107, 95);
  color: mainColor;
}
.login {
  display: flex;
  align-items: flex-end;
  font-size: 1.2em;
  margin-right: 1em;
  margin-bottom: -0.8em;
}
.loginwith {
  /* color: white; */
  font-family: 'Pacifico', cursive;
  color: rgb(116, 107, 95);
  color: rgb(252, 245, 235);
  font-size: 1em;
  margin-right: 0.4em;
  margin-bottom: 0.1em;
}
.right {
  display: flex;
  align-items: center;
}
.logOn {
  /* margin-top: 0.4em; */
  position: relative;
  display: flex;
  align-items: center;
}
.userIcon {
  z-index: 11;
  cursor: pointer;
  color: vWhite;
  font-size: 2em;
  margin-top: 0.5em;
  margin-right: 0.5rem;
  padding: 2px;
  transition: ease-in 180ms;
}
.userIcon:hover {
  color: mainColor;
  transform: scale(1.1);
}
