.nemo {
  position: relative;
  background-color: rgb(242, 242, 242);
  /* border-radius: 1.4em;
  border: 4px double grey;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1); */
  /* padding: 0.8em; */
  padding-top: 0;
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  grid-column: auto/span 3;
  grid-row: auto/span 3;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 0.8em;
  height: 3em;
}
.title i {
  margin-left: 0.6em;
  opacity: 0.8;
  cursor: pointer;
  transition: ease-in 180ms;
}
.title i:hover {
  color: tomato;
  transform: scale(1.2);
}
.imgs {
  height: 100%;
  padding: 0.8em;
  display: grid;
  gap: 0.4em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow-y: scroll;
  background-color: rgb(220, 220, 220);
}

.imgs::-webkit-scrollbar {
  display: none;
}
