.tab {
  font-size: 0.8em;
  padding: 0.4em 0.8em;
  background-color: rgb(88, 88, 88);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.on {
  /* transform: scale(1.1); */
  font-size: 0.9em;
  font-weight: 500;
  z-index: 1;
  background-color: rgb(250, 250, 250);
}
