@value mainColor,mainHover,Lgrey1,Lgrey2,Lgrey3,Lgrey4,Dgrey1,Dgrey2,Dgrey3,Dgrey4,lineGrey,fontGrey,fontHover,hoverGrey,vWhite,vBlack,vTrans from '/src/common/colors.css';

.page {
  z-index: 2;
  position: relative;
  padding: 1em;
  display: flex;
  flex-flow: column;
  background-color: vWhite;
  border-radius: 10px;
  transition: ease-in 180ms;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 36px 40px -25px rgba(0, 0, 0, 0.47);
}
.page.dark {
  background-color: Dgrey4;
}
.page.light {
  background-color: Lgrey4;
}
.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(5vw, auto);
  gap: 0.5em 1em;
}
.display {
  display: block;
  display: none;
}

.menuBar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}
.edit,
.plus {
  position: relative;
  cursor: pointer;
  padding: 0.3em 0.8em;
  font-size: 0.8em;
  transition: ease-in 180ms;
  background-color: Lgrey4;
  color: fontGrey;
  margin-left: 0.4em;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.refresh {
  position: relative;
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
}

.plus.dark,
.edit.dark,
.refresh.dark {
  background-color: Dgrey3;
  color: vWhite;
}
.plus.light,
.edit.light,
.refresh.light {
  background-color: Lgrey3;
  color: fontGrey;
}

.edit.dark.editOn,
.edit.light.editOn {
  background-color: mainColor;
  color: vWhite;
}
.editOn:hover {
  background-color: mainHover;
}

.hv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(90, 90, 90);
  border-radius: 10px;
  z-index: 0;
  opacity: 0;
  transition: ease-in 180ms;
}
.dk {
  background-color: rgb(250, 250, 250);
}
.edit:hover .hv,
.plus:hover .hv {
  opacity: 0.4;
}

.rotate {
  color: mainColor;
  animation: rotate-keyframes 800ms ease-in-out infinite;
}

@keyframes rotate-keyframes {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
