.page {
  z-index: 2;
  position: relative;
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(100px, auto)); */
  /* grid-template-rows: repeat(10, 7vw); */
  grid-template-rows: repeat(20, 1fr);
  gap: 0.6em;
  padding: 1.2em;
  padding-top: 2.8em;
  border-bottom-left-radius: 1.6em;
  border-bottom-right-radius: 1.6em;
  background-color: snow;
}
.plus {
  /* font-family: 'Pacifico', cursive; */
  cursor: pointer;
  border-radius: 1.4em;
  width: 10em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px double grey;
  transition: ease-in 180ms;
}
.plus:hover {
  background-color: rgb(209, 200, 190);
}
.display {
  display: block;
  display: none;
}

.edit {
  position: absolute;
  top: 10px;
  right: 1.2rem;
  /* font-family: 'Pacifico', cursive; */
  cursor: pointer;
  border-radius: 1.2em;
  width: 6em;
  height: 2.4em;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px double grey;
  transition: ease-in 180ms;
}
.edit:hover {
  background-color: rgb(209, 200, 190);
}
