button {
  outline: none;
  border: none;
}

.container i {
  color: rgb(116, 107, 95);
  background-color: snow;
  font-size: 1.3em;
  padding: 0.2em;
  border-radius: 50%;
  margin: 0.1em;
  cursor: pointer;
  transition: ease-in 180ms;
}
.container i:hover {
  color: tomato;
  transform: scale(1.1);
}
