.comment {
  display: flex;
  margin: 0.2rem;
  padding: 0.5rem;
  /* border-radius: 0.6rem; */
  /* box-shadow: 1px 1px 3px 0px rgba(148, 148, 148, 1); */
}

.thumbnail {
  border-radius: 50%;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
}

.metaData {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.author {
  color: grey;
  font-size: 0.9em;
  padding-bottom: 0.3em;
}
.text {
  font-size: 0.9em;
}
.date {
  margin-left: 1em;
  font-size: 0.7em;
}
.like {
  margin-left: 1em;
  font-size: 0.8em;
  opacity: 0.7;
}
