@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Pacifico&display=swap');
body {
  background-color: rgb(220, 220, 220);
}
* {
  box-sizing: border-box;
}
/* 
.playerContainer.On {
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}  */

@keyframes unfoldIn {
  0% {
    transform: scaleX(0) scaleY(0.005);
  }
  50% {
    /* 0.5 초간 세로 크기는 작은상태로 가로 너비만 확대 */
    transform: scaleX(1) scaleY(0.005);
  }
  100% {
    /* 0.5 초간 세로 크기를 확대 */
    background-color: transparent;
    transform: scaleY(1) scaleX(1);
  }
}
